.movie-view {
    width: 550px;
    height: 800px;
    overflow: hidden;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    color: white;
}

.movie-title {
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 20px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

.movie-image {
    justify-content: center;
    display: flex;
    margin-left: 30%;
    text-align: center;
    /* padding: 20px; */
    height: 300px;
    box-shadow: 5px 20px 50px #000;
}

.movie-description {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 30px;
    font-size: 1em;
    line-height: 1.5;
    justify-content: center;
    display: flex;

}

.movie-genre {
    font-weight: bold;
    padding-top: 0px;
    padding-left: 30px;
    padding-bottom: 30px;


}