$backgroundColor: #020402;
$textColor: #f1fffa;
$mainColor: #e5383b;

:root {
    --fontsize-navbar-brand: 30px;
    --fontsize-navbar-link: 20px;
    --fontweight-navbar-brand: 900;
    --fontweight-navbar-link: 600;
}

* {
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

#navbar {
    background-color: $mainColor;
    margin-bottom: 10px;
    border: 5px;
    border-color: $textColor;
}

#navbar-container {
    background-color: $mainColor;
    margin: 0;
}

#navbar-brand {
    background-color: $mainColor;
    color: $textColor;
    font-size: 30px;
    font-weight: 900;
    margin-left: 20px;
}

#nav {
    background-color: $mainColor;
}

#nav-link {
    background-color: $mainColor;
    color: $textColor;
    font-size: 20px;
    font-weight: 600;
}